<%= render 'user/header-out' %>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="red-underline">ログイン</div>
    <div class="devise-box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="red-underline2">
        <div class="field">
          <div class="device-txt"><%= f.label :メールアドレス： %></div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div><!-- .red-underline2 -->
      <div class="red-underline2">
        <div class="field">
          <div class="device-txt"><%= f.label :パスワード： %></div>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div><!-- .red-underline2 -->
    </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>

    <% end %>
  </div><!-- /col-md-8 col-md-offset-2 -->
</div><!-- /container -->

<%= render 'user/footer' %>
