
<div id="ripples"></div>
<div class="top-login-container">
	<div class="container">
	  	<div class="row">
	  		<%= link_to(root_path) do %>
	  			<div class="col-md-4 col-md-offset-4"><%= image_tag("logo4.gif") %></div>
	  		<% end %>
	  	</div><!-- /row -->
	  	<div class="row">
		    <% if user_signed_in? %>
		    	<div class="col-md-2 col-md-offset-5">
		    		<%= link_to(user_path(current_user)) do %>
		    			<i class="far fa-smile fa-3x  faa-ring animated i-pink i-positon"></i>
			    		<div class="toppage-mypage-menu">マイページ</div>
			    	<% end %>
		    	</div><!-- /col-md-4 col-md-offset-4 -->
		    	<% else %>
			    <div class="toppage-login-box clearfix">
			    	<%= link_to(new_user_registration_path) do %>
			    		<div class="toppage-signinbtn">新規登録</div>
			    	<% end %>
			    	<%= link_to(new_user_session_path) do %>
			    		<div class="toppage-loginbtn">ログイン</div>
			    	<% end %>
			    </div><!-- /col-md-4 col-md-offset-4 -->
			<% end %>
	  	</div><!-- /row -->
	</div><!-- /container -->
</div>
<div id="top-film-container">
	<div class="top-film-dot slider">
		<div class="top-film-box">
			<div class="top-film-img"><%= image_tag("top_film1.jpg") %></div>
			<div class="top-film-img"><%= image_tag("top_film2.jpg") %></div>
			<div class="top-film-img"><%= image_tag("top_film3.jpg") %></div>
			<div class="top-film-img"><%= image_tag("top_film4.jpg") %></div>
		</div>
		<div class="top-film-box">
			<div class="top-film-img"><%= image_tag("top_film5.jpg") %></div>
			<div class="top-film-img"><%= image_tag("top_film6.jpg") %></div>
			<div class="top-film-img"><%= image_tag("top_film7.jpg") %></div>
			<div class="top-film-img"><%= image_tag("top_film8.jpg") %></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="hedding-line"><span>WARACHIKE</span>とは？</div>
	<div class="top-concept-text"><span>劇場で思いっきり笑おう！</span>をコンセプトに日々のストレスを笑い飛ばしてもらうことを目的に公演を行っています。</div>
	<div class="top-concept-container">
		<div class="top-concept-box">
			<div class="clearfix">
				<div class="top-concept-img">
					<%= image_tag("top_sum_1.png") %>
				</div>
				<div class="top-concept-tbox">
					<p class="top-concept-title">カップル・夫婦で<span class="pyonpyon">楽しめる</span></p>
					<p class="top-concept-txt">手をつないで歩く老夫婦を見て、いいなぁとあこがれを抱く人は多いのでは？　夫婦デートは、気分転換になるほか、夫婦の絆も再確認できるいい機会ですよね。<br>結婚生活は日常の連続です。3年4年5年……と続けば「男と女のビビッドな関係性」が薄れてゆくのは仕方ないでしょう。夫婦デートは、そんな緊張感のなくなった2人の関係性に「刺激や新鮮さ」を取り戻すカンフル剤となります。マンネリ化しつつある夫婦はぜひ夫婦デートを取り入れ「非日常感」を取り戻しましょう。<br>夫婦デートにお笑いライブはいかがですか。</p>
				</div>
			</div><!-- /.clearfix -->
		</div>
		<div class="top-concept-box">
			<div class="clearfix">
				<div class="top-concept-tbox mr30">
					<p class="top-concept-title">友達と一緒に<span class="pyonpyon">楽しめる</span></p>
					<p class="top-concept-txt">東京にはたくさん遊ぶ場所があるのです！でもたくさんありすぎて迷ってしまいますよね...<br>最近はベテランだけでなく若手のお笑い芸人にも注目が集まり、だいぶ身近になったとは思いますが、それでもまだまだ気軽に行けないイメージがあるかもしれません。でもライブはテレビにはない迫力や臨場感があり、多くの人が気軽に楽しめるものです。<br>友達と遊ぶスポットにお笑いライブはいかがですか。</p>
				</div>
				<div class="top-concept-img">
					<%= image_tag("top_sum_2.png") %>
				</div>
			</div><!-- /.clearfix -->
		</div>
		<div class="top-concept-box">
			<div class="clearfix">
				<div class="top-concept-img">
					<%= image_tag("top_sum_3.png") %>
				</div>
				<div class="top-concept-tbox">
					<p class="top-concept-title">一人でも<span class="pyonpyon">楽しめる</span></p>
					<p class="top-concept-txt">「休日だからどこかに遊びに行きたいけど、予定の空いている友達がいない…」というケースはよくありますよね。また「一人で動く方が好きだけど、一人でも恥ずかしくない場所に行きたい」ということもあるでしょう。一人でも楽しい場所を多く知っていると、これらのケースでより楽しく有効に時間を活用できます。<br>「おひとり様」の時間を楽しく過ごすためにお笑いライブはいかがですか。</p>
				</div>
			</div><!-- /.clearfix -->
		</div>
	</div>
</div><!-- /container -->
<div class="container">
	<div class="hedding-line2">公演スケジュール</div>
	<table class="schedule-table">
		<% @lives.last(10).each do |live| %>
		<tr class="schedule-tabletr">

			<th class="live-schedule-title">
				<%= link_to(live_path(live)) do %>
					<%= live.name %>
				<% end %>
			</th>
			<th class="live-schedule-time">
				<%= link_to(live_path(live)) do %>
					<%= live.date %>
				<% end %>
			</th>
			<th class="live-schedule-performer">
				<%= link_to(live_path(live)) do %>
					<%= live.performer %>
				<% end %>
			</th>
			<th class="live-schedule-price">
				<%= link_to(live_path(live)) do %>
					<%= live.price %>円
				<% end %>
			</th>
		</tr>
		<% end %>
	</table>
</div><!-- /container -->

<%= render 'user/footer' %>

<script>
$(function(){
	let $ripples = $('#ripples');
	$ripples.ripples({
		resolution: 300,
		dropRadius: 10,
		perturbance: 0.03
	});
});
$(function() {
	$('.slider').slick({
    	accessibility: true,
    	autoplay: true,
    	autoplaySpeed: 4000,
	});
});
function randomCharactor(c) {

    //跳ねさせる要素をすべて取得
    var randomChar = document.getElementsByClassName(c);

    //for で総当たり
    for (var i = 0; i < randomChar.length; i++) {

        //クロージャー
        (function(i) {

            //i 番目の要素、テキスト内容、文字列の長さを取得
            var randomCharI = randomChar[i];
            var randomCharIText = randomCharI.textContent;
            var randomCharLength = randomCharIText.length;

            //何番目の文字を跳ねさせるかをランダムで決める
            var Num = ~~(Math.random() * randomCharLength);

            //跳ねさせる文字を span タグで囲む、それ以外の文字と合わせて再び文字列を作る
            var newRandomChar = randomCharIText.substring(0, Num) + "<span>" + randomCharIText.charAt(Num) + "</span>" + randomCharIText.substring(Num + 1, randomCharLength);
            randomCharI.innerHTML = newRandomChar;

            //アニメーションが終わったら再び関数を発火させる
            document.getElementsByClassName(c)[0].children[0].addEventListener("animationend", function() {
                randomCharactor(c)
            }, false)
        })(i)
    }
}
randomCharactor("pyonpyon");
</script>


