<%= render 'user/header' %>
<%= render 'user/header-menu' %>

<div class="container">
	<h4>チケット詳細確認</h4>
		<%= form_for(@live, url: reserve_ticket_page_3_path(@live), html: {method: 'POST'}) do |live| %>
			<table class="r-schedule-table">
				<tr class="r-schedule-tabletr">
					<th class="r-schedule-title"></th>
					<th class="r-schedule-time"></th>
					<th class="r-schedule-performer"></th>
					<th class="r-schedule-price">円</th>
				</tr>
			</table>
			<%= link_to(reserve_ticket_page_1_path) do %>
				<div class="form-back-btn">< 戻る</div>
			<% end %>
		    <%= f.submit "予約する" %>
		<% end %>
</div><!-- /container -->

<%= render 'user/footer' %>