<%= render 'admin/header' %>
<%= render 'admin/sidemenu' %>

	<div class="admin-contain">
		<div class="admin-menu-title">芸人登録</div>
		<div class="admin-wrap">
			<div class="clearfix">
				<div class="admin-performer-img">ここに画像が投稿されます</div>
				<%= form_for([:admin, @performer]) do |f| %>
					<div class="admin-hedding">依頼履歴</div>
					<div class="admin-performer-form-box">
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">公演名 :</div>
							<div class="form-group3">
								<%= f.text_field :member_name , class:"form-control" %>
							</div>
						</div>
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">公演日 :</div>
							<div class="form-group3">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">時間 :</div>
							<div class="form-group3">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">劇場 :</div>
							<div class="form-group3">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">出演者 :</div>
							<div class="form-group3">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">料金 :</div>
							<div class="form-group3">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="admin-user-form-line">
							<div class="admin-live-form-txt">詳細 :</div>
							<div class="form-group3">
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<%= f.submit("登録確認画面へ", class:"admin-s-btn") %>
				<% end %>
			</div>
		</div>
	</div>

<%= render 'admin/footer' %>

