<%= render 'admin/header' %>
<%= render 'admin/sidemenu' %>

<div class="admin-contain">
		<div class="admin-menu-title">ユーザー詳細</div>
		<%= form_for(@user, url: admin_user_path, html:{method: :patch}) do |f| %>
			<div class="admin-wrap">
				<div class="admin-user-form-box">
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">お名前 :　</div>
						<div class="admin-user-form-txt2"><%= f.text_field :name %></div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">フリガナ :　</div>
						<div class="admin-user-form-txt2"><%= f.text_field :name_phonetic %></div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">電話番号 :　</div>
						<div class="admin-user-form-txt2"><%= f.text_field :phone_number %></div>
					</div>
					<div class="admin-user-form-line">
						<div class="admin-user-form-txt">メールアドレス :　</div>
						<div class="admin-user-form-txt2"><%= f.text_field :email %></div>
					</div>
				</div>
			</div>
			<div class="center-block admin-user-submit-btn">
				<%= f.submit '保存', :class=>"btn btn-primary center-block" %>
			</div>
		<% end %>
	</div>

<%= render 'admin/footer' %>
